.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .searchbar-input {
    border: 1px solid rgb(253, 164, 31);
    border-radius: 5px;
    margin: 1rem;
    height: 2rem;
  }

  .searchbar-button {
    background-color: rgb(58, 53, 53);
    color: orangered;
    font-weight: 400;
    margin: 1rem;
  }
}